@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content */
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 rgba(4, 21, 45, 0.8); /* Added transparency for a softer shadow */
  padding: 18px 24px;
  max-width: 345px;
  overflow: hidden; /* Prevents content overflow */
}

.container:hover {
  transform: scale(0.95); /* Shrinks the card slightly */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Slightly deeper shadow */
}

.image {
  width: 100%; 
  height: 200px;
  object-fit: cover; 
  border-radius: 8px; 
  margin-bottom: 20px; /* Adjusted margin for better spacing */
}


.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}

.link:hover {
  color: #132a53;
  transform: scale(0.95); /* Shrinks the card slightly */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Slightly deeper shadow */
}
