@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Aligns content to the left */
  align-items: flex-start; /* Ensures all sections start from the top */
  gap: 40px; /* Adds spacing between items */
  margin-top: 14px;
}
.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centers the image and text vertically */
  gap: 20px; /* Increased spacing */
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 15px; /* Slightly bigger border radius */
  padding: 30px; /* Increased padding for a larger box */
  width: 100%;
  margin-bottom: 30px;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.historyItem:hover {
  background-size: 100% 100%;
}


.historyItem img {
  width: 70px; /* Bigger image */
  height: auto; /* Keeps image aspect ratio */
  object-fit: contain; /* Ensures the image maintains its aspect ratio */
  object-position: center; /* Centers the image vertically and horizontally */
}

.historyItem img:hover{
  transform: scale(1.5); /* Zooms in the image */
}


.historyItemDetails {
  display: flex;
  flex-direction: column; /* Keeps role, company, and details in separate lines */
  gap: 8px;
}

.historyItemDetails h3 {
  font-size: 26px; /* Increased font size */
  font-weight: 700; /* Bold for better readability */
  margin: 0;
}

.historyItemDetails p {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.historyItemDetails ul {
  font-size: 28px;
  list-style-type: disc;
  margin-left: 20px;
}
